.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    text-align: center;
    padding: 10px;
    transition: background-color 0.2s;
    border: 2px solid var(--primary);
}
