.outer {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    background-color: var(--background);
    border-bottom: 2px solid var(--primary);
}

.inner {
    position: relative;
    height: 50px;
}

.home {
    position: absolute;
    top: 15px;
    left: 0;
    transition: transform 0.4s ease;
}

.hidden {
    transform: translateX(-150px);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    position: relative;

    &:not(:first-child) {
        margin-left: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -0.618em;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &.active::before {
        opacity: 1;
    }
}
