@import '../breakpoints';

.heading {
    display: inline-block;

    margin-bottom: 60px;
    // border-bottom: 3px solid black;
    // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.list {
    > li:not(:first-child) {
        margin-top: 20px;
    }
}
