@import '../breakpoints';

.layout {
    display: grid;
    grid-template-columns: '1fr';
    grid-gap: 16px;

    @media (min-width: $md) {
        grid-template-columns: 2fr 3fr;
    }
}

.image {
}

.info {
}
