:root {
    --primary: #000000;
    --primary65: rgba(41, 41, 41, 0.65);
    --secondary: #ffffff;

    --detail: #ff8a00;
    --black: #000000;
    --white: #ffffff;
    --grey: #d1d1d1;

    --outline: #005fcc;
}

.c-primary {
    color: var(--primary);
}

.c-primary65 {
    color: var(--primary65);
}

.c-secondary {
    color: var(--secondary);
}

.c-detail {
    color: var(--detail);
}
