:root {
    --primary: #000000;
    --primary65: rgba(0, 0, 0, 0.65);
    --secondary: #ffffff;
    --detail: #ff8a00;
}

.c-primary {
    color: var(--primary);
}

.c-primary65 {
    color: var(--primary65);
}

.c-secondary {
    color: var(--secondary);
}

.c-detail {
    color: var(--detail);
}
