:root {
    --glass20: rgba(255, 255, 255, 0.2);
    --glass50: rgba(255, 255, 255, 0.4);
}

.glass {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: var(--glass50);
    border: 1px solid var(--glass20);
}
