:root {
    --serif: 'Playfair Display', serif;
    --sans-serif: 'Poppins', sans-serif;
}

/* Typography */
%heading {
    font-family: var(--serif);
    font-weight: 600;
    letter-spacing: -0.04em;
}

%h1 {
    @extend %heading;
    font-size: 55px;
}

%h2 {
    @extend %heading;
    font-size: 44px;
}

%h3 {
    @extend %heading;
    font-size: 36px;
}

%h4 {
    @extend %heading;
    font-size: 28px;
}

%h5 {
    @extend %heading;
    font-size: 21px;
}

%h6 {
    @extend %heading;
    font-size: 13px;
}

%caption {
    font-size: 28px;
    font-family: var(--sans-serif);
    font-weight: 300;
    letter-spacing: 0.01em;
}

%body {
    font-size: 18px;
    font-family: var(--sans-serif);
    font-weight: 300;
}

%label {
    font-size: 14px;
    font-family: var(--sans-serif);
    font-weight: 300;
}

.t-h1 {
    @extend %h1;
}
.t-h2 {
    @extend %h2;
}
.t-h3 {
    @extend %h3;
}
.t-h4 {
    @extend %h4;
}
.t-h5 {
    @extend %h5;
}
.t-h6 {
    @extend %h6;
}
.t-body {
    @extend %body;
}
.t-caption {
    @extend %caption;
}
.t-label {
    @extend %label;
}

// Rich text
.rte {
    h1 {
        @extend %h1;
        margin: 0.67em 0;
    }
    h2 {
        @extend %h2;
        margin: 0.83em 0;
    }
    h3 {
        @extend %h3;
        margin: 1em 0;
    }
    h4 {
        @extend %h4;
        margin: 1.33em 0;
    }
    h5 {
        @extend %h5;
        margin: 1.67em 0;
    }
    h6 {
        @extend %h6;
        margin: 2.33em 0;
    }
    p {
        @extend %body;
        margin: 1em 0;
    }
    li {
        @extend %body;
        margin: 0.83em 0;
    }
    & > *:first-child {
        margin-top: 0;
    }
}

// Forms
input,
textarea {
    @extend %body;
}

button,
select {
    @extend %label;
    font-weight: 500;
}
