@import './breakpoints';

:root {
    --serif: 'Playfair Display', serif;
    --sans-serif: 'Poppins', sans-serif;
    font-size: 18px;

    @media (min-width: $sm) {
        font-size: 22px;
    }

    @media (min-width: $md) {
        font-size: 24px;
    }

    @media (min-width: $lg) {
        font-size: 28px;
    }
}

/* Typography */
%heading {
    font-family: var(--serif);
    font-weight: 600;
    letter-spacing: -0.04em;
}

%h1 {
    @extend %heading;
    font-size: 2rem;
}

%h2 {
    @extend %heading;
    font-size: 1.5rem;
}

%h3 {
    @extend %heading;
    font-size: 1.17rem;
    letter-spacing: -0.1rem;
}

%h4 {
    @extend %heading;
    font-size: 1rem;
}

%h5 {
    @extend %heading;
    font-size: 0.83rem;
}

%h6 {
    @extend %heading;
    font-size: 0.67rem;
}

%subheading {
    font-size: 1.5rem;
    font-family: var(--sans-serif);
    font-weight: 300;
    letter-spacing: 0.05em;
}

%caption {
    font-size: 1.17rem;
    font-family: var(--sans-serif);
    font-weight: 300;
    letter-spacing: 0.05em;
}

%body {
    font-size: 1rem;
    font-family: var(--sans-serif);
    font-weight: 300;
    letter-spacing: 0.02em;
}

%label {
    font-size: 0.67rem;
    font-family: var(--sans-serif);
    font-weight: 300;
}

.t-h1 {
    @extend %h1;
}
.t-h2 {
    @extend %h2;
}
.t-h3 {
    @extend %h3;
}
.t-h4 {
    @extend %h4;
}
.t-h5 {
    @extend %h5;
}
.t-h6 {
    @extend %h6;
}
.t-subheading {
    @extend %subheading;
}
.t-body {
    @extend %body;
}
.t-caption {
    @extend %caption;
}
.t-label {
    @extend %label;
}

// Rich text
.rte {
    line-height: initial;

    h1 {
        @extend %h1;
        margin: 0.67em 0;
    }
    h2 {
        @extend %h2;
        margin: 0.83em 0;
    }
    h3 {
        @extend %h3;
        margin: 1em 0;
    }
    h4 {
        @extend %h4;
        margin: 1.33em 0;
    }
    h5 {
        @extend %h5;
        margin: 1.67em 0;
    }
    h6 {
        @extend %h6;
        margin: 2.33em 0;
    }
    p {
        @extend %body;
        margin: 1em 0;
    }
    ul,
    ol {
        list-style: initial;
        padding-inline-start: 40px;
    }
    li {
        @extend %body;
        margin: 0.83em 0;
    }
    a {
        color: var(--detail);
        text-decoration: underline;
    }

    > *:first-child {
        margin-top: 0;
    }
}

// Forms
input,
textarea {
    @extend %body;
}

button,
select,
label,
.button {
    @extend %label;
    font-weight: 500;
}
